/* latin */
@font-face {
    font-family: 'Poller One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pollerone/v25/ahccv82n0TN3gia5E4BuR-5RgA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
}

body {
    font-family: 'Poller One', cursive;
    background-image: url(../images/sky.jpg);
    color: #eedb00;
    background-attachment: fixed;
}

header, footer {
    background-color: rgba(60, 69, 67, 0.6);
}

header {
    border-radius: 16px 16px 0 0;
}

h1 {
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
}

nav {
    position: fixed;
    top: 5px;
    left: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    border: 2px solid black;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
    font-size: 0.8em;
    padding: 0.3em 0.3em;
    border-radius: 5px;
}

main {
    overflow: hidden;
    padding: 10px;
}

.left {
    float: left;
    width: 18%;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 15px;
}

.left .image {
    width: 100%;
    border: 2px solid #eedb00;
}

.right {
    float: right;
    width: 35%;
    box-sizing: border-box;
    margin-left: 15px;
}

.right h2 {
    text-align: center;
    font-size: 1em;
    margin-bottom: 8px;
}

.right .image {
    float: left;
    width: 33.33%;
    height: 150px;
    object-fit: cover;
    border: 2px solid #eedb00;
    box-sizing: border-box;
}

.far-galaxy {
    padding: 10px;
    font-size: 1.3em;
    text-align: justify;
}

footer ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

footer ul li {
    display: inline-block;
    border: 2px solid black;
    background-color: rgba(204, 3, 35, 0.5);
    padding: 0.3em 0.3em;
    border-radius: 5px;
    cursor: pointer;
}

footer ul li a {
    color: #eedb00;
    text-decoration: none;
    font-size: 0.8em;
}